<!DOCTYPE html>
<html lang="lv" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/fragments/head :: head"></head>
<body>
    <nav th:replace="templates/fragments/navbar :: navbar"></nav>
    <div class="container-fluid">

        <div th:if="${successMsg}" class="row">
            <div class="col-md-4 col-md-offset-4">
                <div th:replace="templates/fragments/alert :: alert (type='success', message=${successMsg})">...</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Komandu statistika</h3>
                <div class="table-responsive well">
                    <table class="table table-striped">
                        <thead>
                        <th>Vieta</th>
                        <th>Komandas nosaukums</th>
                        <th>Spēles</th>
                        <th>Uzvaras (P)</th>
                        <th>Zaudējumi (P)</th>
                        <th>Gūtie vārti</th>
                        <th>Zaudētie vārti</th>
                        <th>Vārtu attiecība</th>
                        <th>Punkti</th>
                        </thead>
                        <tbody class="">
                        <th:block th:each="team, iterStat : ${teams}">
                            <tr>
                                <td th:text="${iterStat.count + '.'}"></td>
                                <td><a th:href="@{/teamStatistics(id=${team.id}, action='show_all')}" th:text="${team.teamName}"></a></td>
                                <td th:text="${team.gameCount}"></td>
                                <td th:text="${team.gamesWon + ' (' + team.gamesWonOT + ')'}"></td>
                                <td th:text="${team.gamesLost + ' (' + team.gamesLostOT + ')'}"></td>
                                <td th:text="${team.goalsScored}"></td>
                                <td th:text="${team.goalsLost}"></td>
                                <td th:text="${team.goalsRelation}"></td>
                                <td th:text="${team.totalPoints}"></td>
                            </tr>
                            </a>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Tiesnešu statistika</h3>
                <div class="table-responsive well">
                    <table class="table table-striped">
                        <thead>
                        <th>Vieta</th>
                        <th>Vārds</th>
                        <th>Uzvārds</th>
                        <th>Piešķirto sodu skaits</th>
                        </thead>
                        <tbody class="">
                        <th:block th:each="referee, iterStat : ${referees}">
                            <tr>
                                <td th:text="${iterStat.count + '.'}"></td>
                                <td th:text="${referee.refereesEntity.refereeName}"></td>
                                <td th:text="${referee.refereesEntity.refereeSurname}"></td>
                                <td th:text="${referee.penalties}"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Spēlētāju statistika</h3>
                <div class="table-responsive well">
                    <table class="table table-striped">
                        <thead>
                        <th>Vieta</th>
                        <th>Vārds</th>
                        <th>Uzvārds</th>
                        <th>Komandas nosaukums</th>
                        <th>Gūtie vārti</th>
                        <th>Rezultatīvās piespēles</th>
                        <th>Punkti</th>
                        </thead>
                        <tbody class="">
                        <th:block th:each="player, iterStat : ${players}">
                            <tr>
                                <td th:text="${iterStat.count + '.'}"></td>
                                <td th:text="${player.teamPlayer.name}"></td>
                                <td th:text="${player.teamPlayer.surname}"></td>
                                <td th:text="${player.teamEntity.teamName}"></td>
                                <td th:text="${player.goals}"></td>
                                <td th:text="${player.assists}"></td>
                                <td th:text="${player.goals + player.assists}"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Vārtsargu statistika</h3>
                <div class="table-responsive well">
                    <table class="table table-striped">
                        <thead>
                        <th>Vieta</th>
                        <th>Vārds</th>
                        <th>Uzvārds</th>
                        <th>Komandas nosaukums</th>
                        <th>Ielaistie vārti</th>
                        <th>Spēļu skaits</th>
                        <th>Ielaisto vārtu / nospēlēto spēļu attiecība</th>
                        </thead>
                        <tbody class="">
                        <th:block th:each="keeper, iterStat : ${goalKeepers}">
                            <tr>
                                <td th:text="${iterStat.count + '.'}"></td>
                                <td th:text="${keeper.teamPlayer.name}"></td>
                                <td th:text="${keeper.teamPlayer.surname}"></td>
                                <td th:text="${keeper.teamEntity.teamName}"></td>
                                <td th:text="${keeper.goals}"></td>
                                <td th:text="${keeper.assists}"></td>
                                <td th:text="${keeper.goalRatio}"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Rupjāko spēlētāju statistika</h3>
                <div class="table-responsive well">
                    <table class="table table-striped">
                        <thead>
                        <th>Vieta</th>
                        <th>Vārds</th>
                        <th>Uzvārds</th>
                        <th>Sodu skaits</th>
                        </thead>
                        <tbody class="">
                        <th:block th:each="player, iterStat : ${worstPlayers}">
                            <tr>
                                <td th:text="${iterStat.count + '.'}"></td>
                                <td th:text="${player.name}"></td>
                                <td th:text="${player.surname}"></td>
                                <td th:text="${player.penaltyCount}"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="templates/fragments/footer :: footer"></footer>
</body>
</html>