<!DOCTYPE html>
<html lang="lv" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/fragments/head :: head"></head>
<body>
    <nav th:replace="templates/fragments/navbar :: navbar"></nav>
    <div class="container-fluid">

        <div th:if="${successMsg}" class="row">
            <div class="col-md-4 col-md-offset-4">
                <div th:replace="templates/fragments/alert :: alert (type='success', message=${successMsg})">...</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <th>Nr.p.k.</th>
                            <th>Komandas nosaukums</th>
                            <th>Spēles</th>
                            <th>Uzvara</th>
                            <th>Neizšķirts</th>
                            <th>Zaudējums</th>
                            <th>Gūtie vārti</th>
                            <th>Zaudētie vārti</th>
                            <th>Vārtu attiecība</th>
                            <th>Punkti</th>
                        </thead>
                        <tbody class="">
                            <th:block th:each="team, iterStat : ${teams}">
                                <tr>
                                    <td th:text="${iterStat.count}"></td>
                                    <td th:text="${team.teamName}"></td>
                                    <td th:text="${team.gameCount}"></td>
                                    <td th:text="${team.gamesWon}"></td>
                                    <td th:text="${team.gamesTied}"></td>
                                    <td th:text="${team.gamesLost}"></td>
                                    <td th:text="${team.goalsScored}"></td>
                                    <td th:text="${team.goalsLost}"></td>
                                    <td th:text="${team.goalsRelation}"></td>
                                    <td th:text="${team.totalPoints}"></td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="templates/fragments/footer :: footer"></footer>
</body>
</html>