<!DOCTYPE html>
<html lang="lv" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/fragments/head :: head"></head>
<body>
<nav th:replace="templates/fragments/navbar :: navbar"></nav>
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron">
            <div class="container">
                <h1>404</h1>
                <p>Kaut kāds līkpirkstis izdarīja kaut ko ne tā kā vajag, un tagad sistēma ir salūzusi</p>
                <a href="/" title="Sākumlapa">Doties uz sākumlapu un sākt visu no jauna</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="templates/fragments/footer :: footer"></footer>
</body>
</html>