<!DOCTYPE html>
<html lang="lv" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/fragments/head :: head"></head>
<body>
    <nav th:replace="templates/fragments/navbar :: navbar"></nav>
    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron">
                <div class="container">
                    <h1>Lielā Futbola Līga</h1>
                    <p>Lielās Futbola Līgas (LFL) turnīrā piedalās vairākas komandas, kas savā starpā izspēlē noteiktu spēļu skaitu</p>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="templates/fragments/footer :: footer"></footer>
</body>
</html>